<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        <form [formGroup]="orderForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Seus Dados:</p>
            </div>
            <div class="col-xs-12 col-sm-3">
              <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i>Emails não conferem</span>
            </div>
            <div class="col-sm-6 col-xs-12">
              <ir-input-container errorMessage="Campo obrigatório e com no mínimo 5 caracteres" label="Nome">
                <input title="text" formControlName="name" class="form-control" placeholder="Nome" autocomplete="off">
              </ir-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <ir-input-container errorMessage="email obrigatório" label="Email">
                <input type="email" formControlName="email" class="form-control" placeholder="Email" autocomplete="off">
              </ir-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <ir-input-container errorMessage="Obrigatório e somente números" label="Confirme o Email">
                <input type="text" formControlName="emailConfirmation" class="form-control" placeholder="Confirme o Email" autocomplete="off">
              </ir-input-container>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <ir-input-container errorMessage="Campo obrigatório e com no mínimo 5 caracteres" label="Endereço">
                <input title="text" formControlName="address" class="form-control" placeholder="Endereço" autocomplete="off">
              </ir-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <ir-input-container errorMessage="Obrigatório e somente números" label="Número">
                <input type="text" formControlName="number" class="form-control" placeholder="Número" autocomplete="off">
              </ir-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <ir-input-container label="Número">
                <input type="text" formControlName="optionalAddress" class="form-control" placeholder="Complemento" autocomplete="off">
              </ir-input-container>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <ir-order-items [items]="cartItems()" 
                (increaseQty)="increaseQty($event)"
                (decreaseQty)="decreaseQty($event)"
                (remove)="remove($event)"></ir-order-items>
          </div>

          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>
                <div class="form-group">
                   <ir-radio [options]="paymentOptions" formControlName="paymentOption" required></ir-radio>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>
              <ir-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></ir-delivery-costs>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(orderForm.value)" [disabled]="!orderForm.valid || cartItems().length === 0" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>
    </section>
</section>